@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">A ocurrido un error</h2>

<h3>Oops, algo ha salido mal</h3>
<p>
    Tu error fue <strong>@ViewBag.message</strong> 
</p>
<p>
    <strong>Intentalo de nuevo</strong>
  En caso de que nada funcione, ponte en contacto con el administrador
</p>
